In [13]:
print(2**10 ,'as')

1024 as

In [24]:
print(10/3,end=" ")
print(10//3,end=" ") #целочисленное деление 
print(10%3)
print(4>=5, type(True))
print(type(1+2))

3.3333333333333335 3 1
False <class 'bool'>
<class 'int'>

In [31]:
print(0.1+0.2)
from decimal import Decimal
a = Decimal(0.1)
print("a = {0}".format(a))
b = Decimal('0.2')
print("b = ",b)
print(a+b)
print(dec('0.1') + dec('0.2'))
print(type(a))

0.30000000000000004
a = 0.1000000000000000055511151231257827021181583404541015625
b =  0.2
0.3000000000000000055511151231
0.3
<class 'decimal.Decimal'>

In [5]:
s1 = 'one'
s2 = s1
print(id(s1),'\n',id(s2))
s1 += '1'
print(id(s1),'\n',id(s2))

71166240
 71166240
71164480
 71166240

In [6]:
s2 = "0128384"
'2' in s2
s2.replace('0','')

'128384'

In [10]:
s1 = "one,   two, three  "
s1.strip()
data = s1.split(',')
print(data)
for i in range(len(data)):
    data[i] = data[i].strip()
print(data)
s2 = "-".join(data)
print(s2)
for i,d in enumerate(data):
    d += str(i)
    print(f"{i} -- {d}")
print(data)

['one', '   two', ' three  ']
['one', 'two', 'three']
one-two-three
0 -- one0
1 -- two1
2 -- three2
['one', 'two', 'three']

In [41]:
d = list(range(2,10,2))
print (d)

[2, 4, 6, 8]